input[type=checkbox]:not([role=switch]).pg {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: rgb(var(--pg-muted));
  border-color: rgb(var(--pg-muted-text));
  border-radius: var(--pg-border-radius);
  border-style: solid;
  border-width: var(--pg-border-width);
  cursor: pointer;
  height: 1.25rem;
  margin: 0;
  width: 1.25rem;

  &:checked {
    background-color: rgb(var(--pg-primary));
    background-image: var(--pg-icon-checkbox);
    background-position: center center;
    background-size: 1rem;
    border-color: rgb(var(--pg-primary));
  }

  &:indeterminate {
    background-color: rgb(var(--pg-primary));
    background-image: var(--pg-icon-minus);
    background-position: center center;
    background-size: 1rem;
    border-color: rgb(var(--pg-primary));
  }

  &[disabled] {
    cursor: initial;
    filter: grayscale(50%);
  }

  &[aria-invalid=true] {
    border-color: rgb(var(--pg-danger));
    border-width: calc(2 * var(--pg-border-width));
  }

  &[aria-invalid=true]:checked {
    background-color: rgb(var(--pg-danger));
  }

  &[aria-invalid=false] {
    border-color: rgb(var(--pg-success));
    border-width: calc(2 * var(--pg-border-width));
  }

  &[aria-invalid=false]:checked {
    background-color: rgb(var(--pg-success));
  }
}

label:has(> input[type=checkbox].pg:not([role=switch])) {
  align-items: center;
  display: inline-flex;
  font-family: inherit;
  gap: 0.25rem;
  line-height: inherit;
  margin: 0.5rem;
  user-select: none;
}
