textarea.pg {
  background-color: rgb(var(--pg-muted));
  border-color: rgb(var(--pg-muted-text));
  border-radius: var(--pg-border-radius);
  border-style: solid;
  border-width: var(--pg-border-width);
  color: rgb(var(--pg-main-text));
  display: block;
  font-family: inherit;
  font-size: var(--pg-font-size);
  line-height: var(--pg-line-height);
  margin-block: 0.5rem;
  padding: 0.325rem 0.75rem;
  width: 100%;

  &:focus {
    background-color: rgb(var(--pg-main-bg));
    border-color: rgb(var(--pg-primary));
    outline: var(--pg-outline-width) solid rgb(var(--pg-primary));
    outline-offset: calc(-.5 * var(--pg-outline-width));
  }

  &::placeholder {
    all: unset;
    color: rgb(var(--pg-muted-text));
  }

  &[disabled] {
    filter: grayscale(50%);
    resize: none;
  }

  &:has(+ small:not(:empty)) {
    margin-bottom: 0;
  }

  & + small:not(:empty) {
    margin-top: 0.25rem;
  }

  & + small:not(:empty):not(label small) {
    margin-bottom: 0.5rem;
  }

  &[aria-invalid=true] {
    background-image: var(--pg-icon-invalid);
    background-position: top 0.325rem right 0.325rem;
    border-color: rgb(var(--pg-danger));
    outline-color: rgb(var(--pg-danger));
    padding-right: calc(2 * 0.325rem + 24px);
  }

  &[aria-invalid=true] + small {
    color: rgb(var(--pg-danger-text));
  }

  &[aria-invalid=false] {
    background-image: var(--pg-icon-valid);
    background-position: top 0.325rem right 0.325rem;
    border-color: rgb(var(--pg-success));
    outline-color: rgb(var(--pg-success));
    padding-right: calc(2 * 0.325rem + 24px);
  }

  &[aria-invalid=false] + small {
    color: rgb(var(--pg-success-text));
  }
}

label:is(.pg-label-top, .pg-label-left, .pg-label-responsive) {
  color: rgb(var(--pg-muted-text));
  display: grid;
  margin-block: 0.5rem;
  user-select: none;
  width: 100%;

  & textarea {
    margin-block: 0;
  }
}

label.pg-label-left {
  grid-column-gap: 0.5rem;
  grid-template-columns: auto 1fr;

  & span {
    align-self: start;
  }

  & small {
    grid-column: 2;
  }
}

label.pg-label-responsive {
  position: relative;

  & span {
    position: absolute;
    top: 0.325rem;
    left: 0.75rem;
    transition:
      font-size var(--pg-transition),
      padding var(--pg-transition),
      transform var(--pg-transition);
  }

  &:has(textarea:focus) span,
  &:has(textarea:not(:placeholder-shown)) span {
    background-image: linear-gradient(to bottom, rgb(var(--pg-main-bg)) 50%, rgb(var(--pg-muted)) 50%);
    font-size: 0.75rem;
    padding-inline: .325rem;
    transform: translate(-0.325rem, -0.75rem);
  }

  &:has(textarea:focus) span {
    background-color: rgb(var(--pg-main-bg));
    background-image: none;
  }

  & textarea::placeholder {
    opacity: 0;
  }
}

textarea:not(.pg-resize-all, .pg-resize-horizontal, .pg-resize-none) {
  resize: vertical;
}

textarea.pg-resize-all {
  resize: both;
}

textarea.pg-resize-horizontal {
  resize: horizontal;
}

textarea.pg-resize-none {
  resize: none;
}
