:root {
  --pg-border-width: 0.0625rem;
  --pg-font-size: 16px;
  --pg-line-height: 1.2;
  --pg-outline-width: 0.125rem;
  --pg-text-margin: 1rem;
  --pg-transition: 0.2s ease-in-out;
}

[data-theme=light],
:root:not([data-theme=dark]) {
  --pg-main-bg: 255 255 255;
  --pg-main-text: 55 60 68;
  --pg-text-selection: 2 154 232 / .25;
  --pg-muted: 231 234 240;
  --pg-muted-text: 100 107 121;
  --pg-primary: 1 114 173;
  --pg-primary-hover: 2 101 154;
  --pg-primary-text: 1 114 173;
  --pg-primary-text-hover: 1 88 135;
  --pg-primary-inverse: 255 255 255;
  --pg-secondary: 82 95 122;
  --pg-secondary-hover: 72 83 107;
  --pg-secondary-text: 93 107 137;
  --pg-secondary-text-hover: 72 83 107;
  --pg-secondary-inverse: 255 255 255;
  --pg-contrast: 24 28 37;
  --pg-contrast-hover: 0 0 0;
  --pg-contrast-text: 24 28 37;
  --pg-contrast-text-hover: 0 0 0;
  --pg-contrast-inverse: 255 255 255;
  --pg-danger: 197 47 33;
  --pg-danger-hover: 175 41 29;
  --pg-danger-text: 197 47 33;
  --pg-danger-text-hover: 155 35 24;
  --pg-danger-inverse: 255 255 255;
  --pg-info: 4 120 120;
  --pg-info-hover: 4 106 106;
  --pg-info-text: 4 120 120;
  --pg-info-text-hover: 2 93 93;
  --pg-info-inverse: 255 255 255;
  --pg-success: 57 135 18;
  --pg-success-hover: 51 121 15;
  --pg-success-text: 51 121 15;
  --pg-success-text-hover: 38 94 9;
  --pg-success-inverse: 255 255 255;
  --pg-warning: 255 191 0;
  --pg-warning-hover: 232 174 1;
  --pg-warning-text: 135 100 0;
  --pg-warning-text-hover: 105 77 0;
  --pg-warning-inverse: 0 0 0;
  color-scheme: light;
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --pg-main-bg: 19 23 31;
    --pg-main-text: 194 199 208;
    --pg-text-selection: 1 170 255 / .1875;
    --pg-muted: 32 38 50;
    --pg-muted-text: 123 132 149;
    --pg-primary: 1 114 173;
    --pg-primary-hover: 1 127 192;
    --pg-primary-text: 1 170 255;
    --pg-primary-text-hover: 121 192 255;
    --pg-primary-inverse: 255 255 255;
    --pg-secondary: 82 95 122;
    --pg-secondary-hover: 93 107 137;
    --pg-secondary-text: 93 107 137;
    --pg-secondary-text-hover: 72 83 107;
    --pg-secondary-inverse: 255 255 255;
    --pg-contrast: 239 241 244;
    --pg-contrast-hover: 255 255 255;
    --pg-contrast-text: 223 227 235;
    --pg-contrast-text-hover: 255 255 255;
    --pg-contrast-inverse: 0 0 0;
    --pg-danger: 197 47 33;
    --pg-danger-hover: 245 163 144;
    --pg-danger-text: 241 121 97;
    --pg-danger-text-hover: 217 53 38;
    --pg-danger-inverse: 255 255 255;
    --pg-info: 4 120 120;
    --pg-info-hover: 5 134 134;
    --pg-info-text: 10 177 177;
    --pg-info-text-hover: 12 206 206;
    --pg-info-inverse: 255 255 255;
    --pg-success: 57 135 18;
    --pg-success-hover: 64 150 20;
    --pg-success-text: 78 179 27;
    --pg-success-text-hover: 93 209 33;
    --pg-success-inverse: 255 255 255;
    --pg-warning: 255 191 0;
    --pg-warning-hover: 254 204 99;
    --pg-warning-text: 199 148 0;
    --pg-warning-text-hover: 232 174 1;
    --pg-warning-inverse: 0 0 0;
    color-scheme: dark;
  }
}

[data-theme=dark] {
  --pg-main-bg: 19 23 31;
  --pg-main-text: 194 199 208;
  --pg-text-selection: 1 170 255 / .1875;
  --pg-muted: 32 38 50;
  --pg-muted-text: 123 132 149;
  --pg-primary: 1 114 173;
  --pg-primary-hover: 1 127 192;
  --pg-primary-text: 1 170 255;
  --pg-primary-text-hover: 121 192 255;
  --pg-primary-inverse: 255 255 255;
  --pg-secondary: 82 95 122;
  --pg-secondary-hover: 93 107 137;
  --pg-secondary-text: 93 107 137;
  --pg-secondary-text-hover: 72 83 107;
  --pg-secondary-inverse: 255 255 255;
  --pg-contrast: 239 241 244;
  --pg-contrast-hover: 255 255 255;
  --pg-contrast-text: 223 227 235;
  --pg-contrast-text-hover: 255 255 255;
  --pg-contrast-inverse: 0 0 0;
  --pg-danger: 197 47 33;
  --pg-danger-hover: 245 163 144;
  --pg-danger-text: 241 121 97;
  --pg-danger-text-hover: 217 53 38;
  --pg-danger-inverse: 255 255 255;
  --pg-info: 4 120 120;
  --pg-info-hover: 5 134 134;
  --pg-info-text: 10 177 177;
  --pg-info-text-hover: 12 206 206;
  --pg-info-inverse: 255 255 255;
  --pg-success: 57 135 18;
  --pg-success-hover: 64 150 20;
  --pg-success-text: 78 179 27;
  --pg-success-text-hover: 93 209 33;
  --pg-success-inverse: 255 255 255;
  --pg-warning: 255 191 0;
  --pg-warning-hover: 254 204 99;
  --pg-warning-text: 199 148 0;
  --pg-warning-text-hover: 232 174 1;
  --pg-warning-inverse: 0 0 0;
  color-scheme: dark;
}

@media screen and (min-width: 576px) {
  :root {
    --pg-font-size: 17px;
  }
}

@media screen and (min-width: 768px) {
  :root {
    --pg-font-size: 18px;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    --pg-font-size: 19px;
  }
}

@media screen and (min-width: 1280px) {
  :root {
    --pg-font-size: 20px;
  }
}

@media screen and (min-width: 1536px) {
  :root {
    --pg-font-size: 21px;
  }
}

:root {
  background-color: rgb(var(--pg-main-bg));
  color: rgb(var(--pg-main-text));
  font-size: var(--pg-font-size);
  line-height: var(--pg-line-height);
}

*, 
::before,
::after {
  box-sizing: border-box;
  background-repeat: no-repeat;
}

::selection {
  background-color: rgb(var(--pg-text-selection));
}

a {
  color: rgb(var(--pg-primary-text));
  &:hover {
    color: rgb(var(--pg-primary-text-hover));
  }
  &:active {
    filter: brightness(90%);
  }
}

a.pg-secondary {
  color: rgb(var(--pg-secondary-text));
  &:hover {
    color: rgb(var(--pg-secondary-text-hover));
  }
}

a.pg-contrast {
  color: rgb(var(--pg-contrast-text));
  &:hover {
    color: rgb(var(--pg-contrast-text-hover));
  }
}

a.pg-danger {
  color: rgb(var(--pg-danger-text));
  &:hover {
    color: rgb(var(--pg-danger-text-hover));
  }
}

a.pg-success {
  color: rgb(var(--pg-success-text));
  &:hover {
    color: rgb(var(--pg-success-text-hover));
  }
}

a.pg-info {
  color: rgb(var(--pg-info-text));
  &:hover {
    color: rgb(var(--pg-info-text-hover));
  }
}

a.pg-warning {
  color: rgb(var(--pg-warning-text));
  &:hover {
    color: rgb(var(--pg-warning-text-hover));
  }
}

button,
input:is([type=button], [type=reset], [type=submit]),
a[role=button] {
  --pg-btn-h-padding: 0.75rem;
  --pg-btn-v-padding: 0.375rem;
  border-radius: var(--pg-border-radius);
  border-style: solid;
  border-width: var(--pg-border-width);
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: var(--pg-font-size);
  height: calc(2 * var(--pg-btn-v-padding) + var(--pg-font-size) * var(--pg-line-height) + var(--pg-border-width));
  line-height: var(--pg-line-height);
  padding-block: var(--pg-btn-v-padding);
  padding-inline: var(--pg-btn-h-padding);
  text-align: center;
  text-decoration: none;
  user-select: none;
  &:active {
    filter: brightness(90%);
  }
}

button,
input:is([type=button], [type=submit]),
input[type=reset].bg-primary,
a[role=button] {
  --pg-outline-bg: var(--pg-primary);
  --pg-outline-text: var(--pg-primary-text);
  background-color: rgb(var(--pg-primary));
  border-color: rgb(var(--pg-primary));
  color: rgb(var(--pg-primary-inverse));
  &:not(.pg-outline):hover {
    background-color: rgb(var(--pg-primary-hover));
    border-color: rgb(var(--pg-primary-hover));
  }
}

button.pg-secondary,
input:is([type=button], [type=submit], [type=reset]).pg-secondary,
a[role=button].pg-secondary {
  --pg-outline-bg: var(--pg-secondary);
  --pg-outline-text: var(--pg-secondary-text);
  background-color: rgb(var(--pg-secondary));
  border-color: rgb(var(--pg-secondary));
  color: rgb(var(--pg-secondary-inverse));
  &:not(.pg-outline):hover {
    background-color: rgb(var(--pg-secondary-hover));
    border-color: rgb(var(--pg-secondary-hover));
  }
}

button.pg-contrast,
input:is([type=button], [type=submit], [type=reset]).pg-contrast,
input[type=reset].bg-contrast,
a[role=button].pg-contrast {
  --pg-outline-bg: var(--pg-contrast);
  --pg-outline-text: var(--pg-contrast-text);
  background-color: rgb(var(--pg-contrast));
  border-color: rgb(var(--pg-contrast));
  color: rgb(var(--pg-contrast-inverse));
  &:not(.pg-outline):hover {
    background-color: rgb(var(--pg-contrast-hover));
    border-color: rgb(var(--pg-contrast-hover));
  }
}

button.pg-danger,
input:is([type=button], [type=submit], [type=reset]).pg-danger,
input[type=reset].bg-danger,
a[role=button].pg-danger {
  --pg-outline-bg: var(--pg-danger);
  --pg-outline-text: var(--pg-danger-text);
  background-color: rgb(var(--pg-danger));
  border-color: rgb(var(--pg-danger));
  color: rgb(var(--pg-danger-inverse));
  &:not(.pg-outline):hover {
    background-color: rgb(var(--pg-danger-hover));
    border-color: rgb(var(--pg-danger-hover));
  }
}

button.pg-success,
input:is([type=button], [type=submit], [type=reset]).pg-success,
input[type=reset].bg-success,
a[role=button].pg-success {
  --pg-outline-bg: var(--pg-success);
  --pg-outline-text: var(--pg-success-text);
  background-color: rgb(var(--pg-success));
  border-color: rgb(var(--pg-success));
  color: rgb(var(--pg-success-inverse));
  &:not(.pg-outline):hover {
    background-color: rgb(var(--pg-success-hover));
    border-color: rgb(var(--pg-success-hover));
  }
}

button.pg-info,
input:is([type=button], [type=submit], [type=reset]).pg-info,
input[type=reset].bg-info,
a[role=button].pg-info {
  --pg-outline-bg: var(--pg-info);
  --pg-outline-text: var(--pg-info-text);
  background-color: rgb(var(--pg-info));
  border-color: rgb(var(--pg-info));
  color: rgb(var(--pg-info-inverse));
  &:not(.pg-outline):hover {
    background-color: rgb(var(--pg-info-hover));
    border-color: rgb(var(--pg-info-hover));
  }
}

button.pg-warning,
input:is([type=button], [type=submit], [type=reset]).pg-warning,
input[type=reset].bg-warning,
a[role=button].pg-warning {
  --pg-outline-bg: var(--pg-warning);
  --pg-outline-text: var(--pg-warning-text);
  background-color: rgb(var(--pg-warning));
  border-color: rgb(var(--pg-warning));
  color: rgb(var(--pg-warning-inverse));
  &:not(.pg-outline):hover {
    background-color: rgb(var(--pg-warning-hover));
    border-color: rgb(var(--pg-warning-hover));
  }
}
