:is(button, [type="button"], [type="submit"], [type="reset"], [role="button"]).pg {
	border-style: solid;
	border-width: var(--border-width);
	cursor: pointer;
	display: inline-block;
	font-size: inherit;
	padding: 0.375rem 0.5rem;
	text-align: center;
	text-decoration: none;
	transition: background-color var(--transition);

	&:not(.pg-rounded, .pg-pill) {
		border-radius: 0;
	}

	&:active {
		transition: none;
	}
}

:is(button, [type="button"], [type="submit"], [type="reset"], [role="button"]).pg {
	& {
		background-color: rgb(var(--bg-primary));
		border-color: rgb(var(--bg-primary));
		color: rgb(var(--inverse-primary));
	}

	&:not([type="reset"]):hover {
		background-color: var(--bg-primary-hover);
		border-color: var(--bg-primary-hover);
	}
	
	&:not([type="reset"]):active {
		background-color: var(--bg-primary-active);
		border-color: var(--bg-primary-active);
	}

	&.secondary,
	&:is([type="reset"]) {
		background-color: rgb(var(--bg-secondary));
		border-color: rgb(var(--bg-secondary));
		color: rgb(var(--inverse-secondary));
	}

	&.secondary:hover,
	&:is([type="reset"]):hover {
		background-color: var(--bg-secondary-hover);
		border-color: var(--bg-secondary-hover);
	}

	&.secondary:active,
	&:is([type="reset"]):active {
		background-color: var(--bg-secondary-active);
		border-color: var(--bg-secondary-active);
	}

	&.contrast {
		background-color: rgb(var(--bg-contrast));
		border-color: rgb(var(--bg-contrast));
		color: rgb(var(--inverse-contrast));
	}

	&.contrast:hover {
		background-color: var(--bg-contrast-hover);
		border-color: var(--bg-contrast-hover);
	}

	&.contrast:active {
		background-color: var(--bg-contrast-active);
		border-color: var(--bg-contrast-active);
	}

	&.danger {
		background-color: rgb(var(--danger));
		border-color: rgb(var(--danger));
		color: rgb(var(--inverse-danger));
	}

	&.danger:hover {
		background-color: var(--danger-hover);
		border-color: var(--danger-hover);
	}

	&.danger:active {
		background-color: var(--danger-active);
		border-color: var(--danger-active);
	}

	&.success {
		background-color: rgb(var(--success));
		border-color: rgb(var(--success));
		color: rgb(var(--inverse-success));
	}

	&.success:hover {
		background-color: var(--success-hover);
		border-color: var(--success-hover);
	}

	&.success:active {
		background-color: var(--success-active);
		border-color: var(--success-active);
	}

	&.info {
		background-color: rgb(var(--info));
		border-color: rgb(var(--info));
		color: rgb(var(--inverse-info));
	}

	&.info:hover {
		background-color: var(--info-hover);
		border-color: var(--info-hover);
	}

	&.info:active {
		background-color: var(--info-active);
		border-color: var(--info-active);
	}

	&.warning {
		background-color: rgb(var(--warning));
		border-color: rgb(var(--warning));
		color: rgb(var(--inverse-warning));
	}

	&.warning:hover {
		background-color: var(--warning-hover);
		border-color: var(--warning-hover);
	}

	&.warning:active {
		background-color: var(--warning-active);
		border-color: var(--warning-active);
	}

	&.outline {
		background-color: transparent;
		color: rgb(var(--text-primary));
	}

	&.outline:hover {
		background-color: rgb(var(--bg-primary) / .1);
	}

	&.outline:active {
		background-color: rgb(var(--bg-primary) / .2);
	}

	&.secondary.outline {
		background-color: transparent;
		border-color: rgb(var(--bg-secondary));
		color: rgb(var(--text-secondary));
	}

	&.secondary.outline:hover {
		background-color: rgb(var(--bg-secondary) / .1);
	}

	&.secondary.outline:active {
		background-color: rgb(var(--bg-secondary) / .2);
	}

	&.contrast.outline {
		border-color: rgb(var(--bg-contrast));
		color: rgb(var(--text-contrast));
	}

	&.contrast.outline:hover {
		background-color: rgb(var(--bg-contrast) / .1);
	}

	&.contrast.outline:active {
		background-color: rgb(var(--bg-contrast) / .2);
	}

	&.danger.outline {
		border-color: rgb(var(--danger));
		color: rgb(var(--danger));
	}

	&.danger.outline:hover {
		background-color: rgb(var(--danger) / .1);
	}

	&.danger.outline:active {
		background-color: rgb(var(--danger) / .2);
	}

	&.success.outline {
		border-color: rgb(var(--success));
		color: rgb(var(--success));
	}

	&.success.outline:hover {
		background-color: rgb(var(--success) / .1);
	}

	&.success.outline:active {
		background-color: rgb(var(--success) / .2);
	}

	&.info.outline {
		border-color: rgb(var(--info));
		color: rgb(var(--info));
	}

	&.info.outline:hover {
		background-color: rgb(var(--info) / .1);
	}

	&.info.outline:active {
		background-color: rgb(var(--info) / .2);
	}

	&.warning.outline {
		border-color: rgb(var(--warning));
		color: rgb(var(--warning));
	}

	&.warning.outline:hover {
		background-color: rgb(var(--warning) / .1);
	}

	&.warning.outline:active {
		background-color: rgb(var(--warning) / .2);
	}
}
