:root {
  --pg-border-width: .0625rem;
  --pg-font-size: 16px;
  --pg-font-weight: 400;
  --pg-line-height: 1.2;
  --pg-outline-width: .125rem;
  --pg-text-margin: 1rem;
  --pg-transition: .2s ease-in-out;
}

[data-theme="light"], :root:not([data-theme="dark"]) {
  --pg-main-bg: 255 255 255;
  --pg-main-text: 55 60 68;
  --pg-text-selection: 2 154 232 / .25;
  --pg-muted: 231 234 240;
  --pg-muted-text: 100 107 121;
  --pg-primary: 1 114 173;
  --pg-primary-hover: 2 101 154;
  --pg-primary-text: 1 114 173;
  --pg-primary-text-hover: 1 88 135;
  --pg-primary-inverse: 255 255 255;
  --pg-secondary: 82 95 122;
  --pg-secondary-hover: 72 83 107;
  --pg-secondary-text: 93 107 137;
  --pg-secondary-text-hover: 72 83 107;
  --pg-secondary-inverse: 255 255 255;
  --pg-contrast: 24 28 37;
  --pg-contrast-hover: 0 0 0;
  --pg-contrast-text: 24 28 37;
  --pg-contrast-text-hover: 0 0 0;
  --pg-contrast-inverse: 255 255 255;
  --pg-danger: 197 47 33;
  --pg-danger-hover: 175 41 29;
  --pg-danger-text: 197 47 33;
  --pg-danger-text-hover: 155 35 24;
  --pg-danger-inverse: 255 255 255;
  --pg-info: 4 120 120;
  --pg-info-hover: 4 106 106;
  --pg-info-text: 4 120 120;
  --pg-info-text-hover: 2 93 93;
  --pg-info-inverse: 255 255 255;
  --pg-success: 57 135 18;
  --pg-success-hover: 51 121 15;
  --pg-success-text: 51 121 15;
  --pg-success-text-hover: 38 94 9;
  --pg-success-inverse: 255 255 255;
  --pg-warning: 255 191 0;
  --pg-warning-hover: 232 174 1;
  --pg-warning-text: 135 100 0;
  --pg-warning-text-hover: 105 77 0;
  --pg-warning-inverse: 0 0 0;
  --lightningcss-light: initial;
  --lightningcss-dark: ;
  color-scheme: light;
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --pg-main-bg: 19 23 31;
    --pg-main-text: 194 199 208;
    --pg-text-selection: 1 170 255 / .1875;
    --pg-muted: 32 38 50;
    --pg-muted-text: 123 132 149;
    --pg-primary: 1, 114, 173;
    --bg-primary-hover: 1 127 192;
    --pg-primary-text: 1, 170, 255;
    --pg-primary-text-hover: 121 192 255;
    --pg-primary-inverse: 255 255 255;
    --pg-secondary: 82 95 122;
    --pg-secondary-hover: 93 107 137;
    --pg-secondary-text: 93 107 137;
    --pg-secondary-text-hover: 72 83 107;
    --pg-secondary-inverse: 255 255 255;
    --pg-contrast: 239 241 244;
    --pg-contrast-hover: 255 255 255;
    --pg-contrast-text: 223 227 235;
    --pg-contrast-text-hover: 255 255 255;
    --pg-contrast-inverse: 0 0 0;
    --pg-danger: 197 47 33;
    --pg-danger-hover: 245 163 144;
    --pg-danger-text: 241 121 97;
    --pg-danger-text-hover: 217 53 38;
    --pg-danger-inverse: 255 255 255;
    --pg-info: 4 120 120;
    --pg-info-hover: 5 134 134;
    --pg-info-text: 10 177 177;
    --pg-info-text-hover: 12 206 206;
    --pg-info-inverse: 255 255 255;
    --pg-success: 57 135 18;
    --pg-success-hover: 64 150 20;
    --pg-success-text: 78 179 27;
    --pg-success-text-hover: 93 209 33;
    --pg-success-inverse: 255 255 255;
    --pg-warning: 255 191 0;
    --pg-warning-hover: 254 204 99;
    --pg-warning-text: 199 148 0;
    --pg-warning-text-hover: 232 174 1;
    --pg-warning-inverse: 0 0 0;
    --lightningcss-light: ;
    --lightningcss-dark: initial;
    color-scheme: dark;
  }
}

[data-theme="dark"] {
  --pg-main-bg: 19 23 31;
  --pg-main-text: 194 199 208;
  --pg-text-selection: 1 170 255 / .1875;
  --pg-muted: 32 38 50;
  --pg-muted-text: 123 132 149;
  --pg-primary: 1, 114, 173;
  --bg-primary-hover: 1 127 192;
  --pg-primary-text: 1, 170, 255;
  --pg-primary-text-hover: 121 192 255;
  --pg-primary-inverse: 255 255 255;
  --pg-secondary: 82 95 122;
  --pg-secondary-hover: 93 107 137;
  --pg-secondary-text: 93 107 137;
  --pg-secondary-text-hover: 72 83 107;
  --pg-secondary-inverse: 255 255 255;
  --pg-contrast: 239 241 244;
  --pg-contrast-hover: 255 255 255;
  --pg-contrast-text: 223 227 235;
  --pg-contrast-text-hover: 255 255 255;
  --pg-contrast-inverse: 0 0 0;
  --pg-danger: 197 47 33;
  --pg-danger-hover: 245 163 144;
  --pg-danger-text: 241 121 97;
  --pg-danger-text-hover: 217 53 38;
  --pg-danger-inverse: 255 255 255;
  --pg-info: 4 120 120;
  --pg-info-hover: 5 134 134;
  --pg-info-text: 10 177 177;
  --pg-info-text-hover: 12 206 206;
  --pg-info-inverse: 255 255 255;
  --pg-success: 57 135 18;
  --pg-success-hover: 64 150 20;
  --pg-success-text: 78 179 27;
  --pg-success-text-hover: 93 209 33;
  --pg-success-inverse: 255 255 255;
  --pg-warning: 255 191 0;
  --pg-warning-hover: 254 204 99;
  --pg-warning-text: 199 148 0;
  --pg-warning-text-hover: 232 174 1;
  --pg-warning-inverse: 0 0 0;
  --lightningcss-light: ;
  --lightningcss-dark: initial;
  color-scheme: dark;
}

@media screen and (min-width: 576px) {
  :root {
    --pg-font-size: 17px;
  }
}

@media screen and (min-width: 768px) {
  :root {
    --pg-font-size: 18px;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    --pg-font-size: 19px;
  }
}

@media screen and (min-width: 1280px) {
  :root {
    --pg-font-size: 20px;
  }
}

@media screen and (min-width: 1536px) {
  :root {
    --pg-font-size: 21px;
  }
}

:root {
  background-color: rgb(var(--pg-main-bg));
  color: rgb(var(--pg-main-text));
  font-size: var(--pg-font-size);
  font-weight: var(--pg-font-weight);
  line-height: var(--pg-line-height);
}

*, :before, :after {
  box-sizing: border-box;
  background-repeat: no-repeat;
}

::selection {
  background-color: rgb(var(--pg-text-selection));
}

.rounded {
  --pg-border-radius: .25rem;
}

.pill {
  --pg-border-radius: 9999px;
}

a {
  color: rgb(var(--pg-primary-text));
}

a:hover {
  color: rgb(var(--pg-primary-text-hover));
}

a.pg-secondary {
  color: rgb(var(--pg-secondary-text));
}

a.pg-secondary:hover {
  color: rgb(var(--pg-secondary-text-hover));
}

a.pg-contrast {
  color: rgb(var(--pg-contrast-text));
}

a.pg-contrast:hover {
  color: rgb(var(--pg-contrast-text-hover));
}

a.pg-danger {
  color: rgb(var(--pg-danger-text));
}

a.pg-danger:hover {
  color: rgb(var(--pg-danger-text-hover));
}

a.pg-success {
  color: rgb(var(--pg-success-text));
}

a.pg-success:hover {
  color: rgb(var(--pg-success-text-hover));
}

a.pg-info {
  color: rgb(var(--pg-info-text));
}

a.pg-info:hover {
  color: rgb(var(--pg-info-text-hover));
}

a.pg-warning {
  color: rgb(var(--pg-warning-text));
}

a.pg-warning:hover {
  color: rgb(var(--pg-warning-text-hover));
}

.pg-theme-toggle {
  --theme-toggle__classic--duration: .5s;
  --theme-toggle__inner-moon--duration: .5s;
  --theme-toggle__expand--duration: .5s;
  --theme-toggle__within--duration: .5s;
  --theme-toggle__around--duration: .5s;
  --theme-toggle__dark-side--duration: .5s;
  --theme-toggle__horizon--duration: .5s;
  --theme-toggle__eclipse--duration: .5s;
  --theme-toggle__lightbulb--duration: .5s;
  --theme-toggle__dark-inner--duration: .5s;
  --theme-toggle__half-sun--duration: .5s;
  --theme-toggle__simple--duration: .5s;
  cursor: pointer;
  background: none;
  border: none;
}

.pg-theme-toggle input[type="checkbox"] {
  display: none;
}

.theme-toggle__classic path {
  transform-origin: center;
  transition-timing-function: cubic-bezier(0, 0, .15, 1.25);
  transition-duration: calc(var(--theme-toggle__classic--duration) * .8);
}

.theme-toggle__classic g path {
  transition-property: opacity, transform;
  transition-delay: calc(var(--theme-toggle__classic--duration) * .2);
}

.theme-toggle__classic :first-child path {
  transition-property: transform, d;
}

.pg-theme-toggle input[type="checkbox"]:checked ~ .theme-toggle__classic g path {
  opacity: 0;
  transition-delay: 0s;
  transform: scale(.5)rotate(45deg);
}

.pg-theme-toggle input[type="checkbox"]:checked ~ .theme-toggle__classic :first-child path {
  d: path("M-12 5h30a1 1 0 0 0 9 13v24h-39Z");
  transition-delay: calc(var(--theme-toggle__classic--duration) * .2);
}

@supports not (d: path("")) {
  .pg-theme-toggle input[type="checkbox"]:checked ~ .theme-toggle__classic :first-child path {
    transform: translate3d(-12px, 10px, 0);
  }
}

@media (prefers-reduced-motion: reduce) {
  .pg-theme-toggle:not(.theme-toggle--force-motion) * {
    transition: none !important;
  }
}

.theme-toggle__inner-moon path {
  transform-origin: center;
  transition: transform var(--theme-toggle__inner-moon--duration) cubic-bezier(0, 0, .15, 1.25);
}

.theme-toggle__inner-moon circle {
  transition: transform calc(var(--theme-toggle__inner-moon--duration) / 1.5) cubic-bezier(.4, 0, .2, 1);
}

.pg-theme-toggle input[type="checkbox"]:checked ~ .theme-toggle__inner-moon path {
  transform: rotate(180deg);
}

.pg-theme-toggle input[type="checkbox"]:checked ~ .theme-toggle__inner-moon circle {
  transform: translate3d(15%, 0, 0);
}

@media (prefers-reduced-motion: reduce) {
  .pg-theme-toggle:not(.theme-toggle--force-motion) * {
    transition: none !important;
  }
}

.theme-toggle__expand g circle {
  transform-origin: center;
  transition: transform calc(var(--theme-toggle__expand--duration) * .65) cubic-bezier(0, 0, 0, 1.25) calc(var(--theme-toggle__expand--duration) * .35);
}

.theme-toggle__expand g path {
  transform-origin: center;
  transition: transform calc(var(--theme-toggle__expand--duration) * .65) cubic-bezier(0, 0, 0, 1.25) calc(var(--theme-toggle__expand--duration) * .35);
}

.theme-toggle__expand :first-child path {
  transition-property: transform, d;
  transition-duration: calc(var(--theme-toggle__expand--duration) * .6);
  transition-timing-function: cubic-bezier(0, 0, .5, 1);
}

.pg-theme-toggle input[type="checkbox"]:checked ~ .theme-toggle__expand g circle {
  transition-delay: 0s;
  transform: scale(1.4);
}

.pg-theme-toggle input[type="checkbox"]:checked ~ .theme-toggle__expand g path {
  transition-delay: 0s;
  transform: scale(.75);
}

.pg-theme-toggle input[type="checkbox"]:checked ~ .theme-toggle__expand :first-child path {
  d: path("M-9 3h25a1 1 0 0017 13v30H0Z");
  transition-delay: calc(var(--theme-toggle__expand--duration) * .4);
  transition-timing-function: cubic-bezier(0, 0, 0, 1.25);
}

@supports not (d: path("")) {
  .pg-theme-toggle input[type="checkbox"]:checked ~ .theme-toggle__expand :first-child path {
    transform: translate3d(-9px, 14px, 0);
  }
}

@media (prefers-reduced-motion: reduce) {
  .pg-theme-toggle:not(.theme-toggle--force-motion) * {
    transition: none !important;
  }
}

.theme-toggle__within * {
  transform-origin: center;
  transition: transform calc(var(--theme-toggle__within--duration)) cubic-bezier(0, 0, 0, 1.25);
}

.pg-theme-toggle input[type="checkbox"]:checked ~ .theme-toggle__within .theme-toggle__within__circle {
  transform: scale(1.5);
}

.pg-theme-toggle input[type="checkbox"]:checked ~ .theme-toggle__within .theme-toggle__within__inner {
  transform: translate3d(3px, -3px, 0)scale(1.2);
}

.pg-theme-toggle input[type="checkbox"]:checked ~ .theme-toggle__within g path {
  transform: scale(.65);
}

@media (prefers-reduced-motion: reduce) {
  .pg-theme-toggle:not(.theme-toggle--force-motion) * {
    transition: none !important;
  }
}

.theme-toggle__around * {
  transform-origin: center;
  transition: transform calc(var(--theme-toggle__around--duration) * .6) ease;
}

.theme-toggle__around > g g circle {
  transition-duration: calc(var(--theme-toggle__around--duration) * .2);
}

.theme-toggle__around > g g :first-child {
  transition-delay: calc(var(--theme-toggle__around--duration) * .253);
}

.theme-toggle__around > g g :nth-child(2) {
  transition-delay: calc(var(--theme-toggle__around--duration) * .348);
}

.theme-toggle__around > g g :nth-child(3) {
  transition-delay: calc(var(--theme-toggle__around--duration) * .443);
}

.theme-toggle__around > g g :nth-child(4) {
  transition-delay: calc(var(--theme-toggle__around--duration) * .538);
}

.theme-toggle__around > g g:nth-child(5) {
  transition-delay: calc(var(--theme-toggle__around--duration) * .633);
}

.theme-toggle__around > g g :nth-child(6) {
  transition-delay: calc(var(--theme-toggle__around--duration) * .728);
}

.theme-toggle__around > :first-child path {
  transition-property: transform, d;
}

.pg-theme-toggle input[type="checkbox"]:checked ~ .theme-toggle__around * {
  transition-delay: 0s;
  transition-duration: var(--theme-toggle__around--duration);
}

.pg-theme-toggle input[type="checkbox"]:checked ~ .theme-toggle__around > g > circle {
  transform: scale(1.4);
}

.pg-theme-toggle input[type="checkbox"]:checked ~ .theme-toggle__around > g g circle {
  transition-duration: calc(var(--theme-toggle__around--duration) * .4);
  transform: scale(0);
}

.pg-theme-toggle input[type="checkbox"]:checked ~ .theme-toggle__around > :first-child {
  transform: rotate(-90deg);
}

.pg-theme-toggle input[type="checkbox"]:checked ~ .theme-toggle__around > :first-child path {
  d: path("M-12-14h42v30a1 1 0 00-16 13H0Z");
}

@supports not (d: path("")) {
  .pg-theme-toggle input[type="checkbox"]:checked ~ .theme-toggle__around:first-child path {
    transform: translate3d(-12px, -14px, 0);
  }
}

@media (prefers-reduced-motion: reduce) {
  .pg-theme-toggle:not(.theme-toggle--force-motion) * {
    transition: none !important;
  }
}

.theme-toggle__dark-side path {
  transform-origin: center;
  transition: transform var(--theme-toggle__dark-side--duration) ease;
}

.pg-theme-toggle input[type="checkbox"]:checked ~ .theme-toggle__dark-side path {
  transform: rotate(180deg);
}

@media (prefers-reduced-motion: reduce) {
  .pg-theme-toggle:not(.theme-toggle--force-motion) * {
    transition: none !important;
  }
}

.theme-toggle__horizon g path {
  transition: transform var(--theme-toggle__horizon--duration) cubic-bezier(0, 0, .15, 1);
}

.pg-theme-toggle input[type="checkbox"]:checked ~ .theme-toggle__horizon g path {
  transform: translate3d(0, 50%, 0);
}

@media (prefers-reduced-motion: reduce) {
  .pg-theme-toggle:not(.theme-toggle--force-motion) * {
    transition: none !important;
  }
}

.theme-toggle__eclipse :first-child path {
  transition-property: transform, d;
  transition-duration: calc(var(--theme-toggle__eclipse--duration));
  transition-timing-function: ease;
}

.pg-theme-toggle input[type="checkbox"]:checked ~ .theme-toggle__eclipse :first-child path {
  d: path("M-32 0h64v32h-64zm36 16a1 1 0 0024 1 1 1 0 00-24-1");
}

@supports not (d: path("")) {
  .pg-theme-toggle input[type="checkbox"]:checked ~ .theme-toggle__eclipse :first-child path {
    transform: translate3d(-32px, 0, 0);
  }
}

@media (prefers-reduced-motion: reduce) {
  .pg-theme-toggle:not(.theme-toggle--force-motion) * {
    transition: none !important;
  }
}

.theme-toggle__lightbulb .theme-toggle__lightbulb__coil {
  stroke-dasharray: 1.1;
  stroke-dashoffset: 0;
  opacity: 1;
  transition-property: stroke-dashoffset, opacity;
  transition-duration: var(--theme-toggle__lightbulb--duration);
}

.theme-toggle__lightbulb .theme-toggle__lightbulb .theme-toggle__lightbulb__rays * {
  stroke-dasharray: 1.1;
  stroke-dashoffset: 0;
  opacity: 1;
  transition-property: stroke-dashoffset, opacity;
  transition-duration: var(--theme-toggle__lightbulb--duration);
}

.pg-theme-toggle input[type="checkbox"]:checked ~ .theme-toggle__lightbulb .theme-toggle__lightbulb__coil {
  stroke-dashoffset: 1px;
  opacity: 0;
}

.pg-theme-toggle input[type="checkbox"]:checked ~ .theme-toggle__lightbulb .theme-toggle__lightbulb__rays * {
  stroke-dashoffset: 1px;
  opacity: 0;
}

@media (prefers-reduced-motion: reduce) {
  .pg-theme-toggle:not(.theme-toggle--force-motion) * {
    transition: none !important;
  }
}

.theme-toggle__dark-inner path {
  transform-origin: center;
  transition: transform var(--theme-toggle__dark-inner--duration) ease;
}

.pg-theme-toggle input[type="checkbox"]:checked ~ .theme-toggle__dark-inner :first-child {
  transform: rotate(180deg);
}

.pg-theme-toggle input[type="checkbox"]:checked ~ .theme-toggle__dark-inner :last-child {
  transform: rotate(-180deg);
}

@media (prefers-reduced-motion: reduce) {
  .pg-theme-toggle:not(.theme-toggle--force-motion) * {
    transition: none !important;
  }
}

.theme-toggle__half-sun path {
  transform-origin: center;
  transition: transform var(--theme-toggle__half-sun--duration) ease;
}

.pg-theme-toggle input[type="checkbox"]:checked ~ .theme-toggle__half-sun path {
  transform: rotate(180deg);
}

@media (prefers-reduced-motion: reduce) {
  .pg-theme-toggle:not(.theme-toggle--force-motion) * {
    transition: none !important;
  }
}

.theme-toggle__simple :first-child path {
  transition-property: transform, d;
  transition-duration: calc(var(--theme-toggle__simple--duration));
  transition-timing-function: cubic-bezier(0, 0, .15, 1.25);
}

.pg-theme-toggle input[type="checkbox"]:checked ~ .theme-toggle__simple :first-child path {
  d: path("M-18-1h55v37h-55zm32 12a1 1 0 0025 0 1 1 0 00-25 0");
}

@supports not (d: path("")) {
  .pg-theme-toggle input[type="checkbox"]:checked ~ .theme-toggle__simple :first-child path {
    transform: translate3d(-19px, 5px, 0);
  }
}

@media (prefers-reduced-motion: reduce) {
  .pg-theme-toggle:not(.theme-toggle--force-motion) * {
    transition: none !important;
  }
}
